<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MerchantServiceImplServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MerchantServiceImplServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://3dsec.sberbank.ru/payment/webservices/merchant-ws"
                binding="basicHttpBinding" bindingConfiguration="MerchantServiceImplServiceSoapBinding"
                contract="ServiceReference1.MerchantService" name="MerchantServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>
